.header {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 65px;
}

.logo {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
}
.logo-img {
    width: 31.31px;
    height: 26.22px;
}
.logo-text {
    font-weight: 700;
    font-size: 20.7482px;
    line-height: 24px;
    letter-spacing: -0.1em;
    margin-left: 8px;
}
.header-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-right: 37px;
}
